.wrapper {
    margin-top: 5%;
    background-color: whitesmoke;
}

.form-container{
    margin: 4rem 6rem;
    width: 100%;
}

.form-container h1{
    text-align: left;
    font-size: 2.5rem;
    color: #1a4ccc;
    font-weight: bold;
}

.form-container h3{
    text-align: left;
    padding-top: 12px;
    font-size: 1.8rem;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container textarea{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.panel_stub {
    display: flex;
    width: 100%;
}

.contact_img {
    height: 100%;
    width: 100%;
}

.row p {
    background: wheat;
    padding: 2% 1% 2% 1%;
    margin: 2% 2% 2% 2%;
    width: 96%;
    font-size: 18px;
}

.form-container button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .form-container button:active,
  .form-container button:hover {
    outline: 0;
  }
  
  .form-container button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .form-container button:hover span {
    background: none;
  }
  

@media screen and (max-width: 850px) {
    .form-container{
        margin: 4rem 2rem;
    }

    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
}