.content {
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.content h1{
    font-size: 3rem;
    text-align: center;
    color: #1a4ccc;
    font-weight: bold;
}

.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.des-text{
    width: 75%;
    text-align: start;
    text-align: justify;
}

.des-text h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.des-text p{
    font-size: 1.3rem;
}

.content-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    z-index: -99;
}

.content-image img{
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border-style: double;
    border-width: 6px;
}

@media screen and (max-width: 850px) {
    .content{
        margin: 4rem 2rem;
    }

    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-des-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }
    
    .des-text{
        width: 100%;
    }

    .image{
        width: 100%;
        margin: 1.8rem 0;
    }
    
    .image img{
        height: 250px;
    }
}