h1{
    font-size: 3rem;
    text-align: center;
    color: #1a4ccc;
}

.wrapper {
    display: flex;
    /* height: 10px; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accordion {

    width: 1200px;
}

.item {
    background: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title {
    color: #000000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
    font-size: 1.3rem;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

/* 
@media screen and (max-width:850px) {
    .faq{
        margin: 4rem 2rem;
    }

    .faqcard{
        flex-direction: column;
    }

    .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}  */