.heading h1{
    font-size: 3rem;
    text-align: center;
    color: #1a4ccc;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 1200px;
}

span{
    font-size: 2rem;
}

.item {
    background: #eaebf7;
    border-style: inset;
    border-radius: 8px;
    margin-bottom: 18px;
    padding: 10px 20px;
}

.title {
    color: #000000;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.faq-content {
    color: #2a2a2a;
    font-size: 1.1rem;
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.faq-content.show{
    
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}


@media screen and (max-width:850px) {
    .item {
        border-radius: 6px;
        margin-bottom: 18px;
        padding: 10px 8px;
    }

    .title {
        font-size: 0.7rem;
    }

    .faq-content {
        font-size: 0.8rem;
        max-height: 0;
    }
} 