.card-header {
    font-size: 18px;
    font-weight: 600;
    color: rgb(227, 48, 48);
}

/* .progress-bar-info {
    width: progressInfo.percentage + "%"
} */

.list-group-item {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.0;
}

ol {
    list-style-type: square;
}

.btn-sm {
    float: right; 
    min-width: 50%;
    cursor: pointer;
    padding: 8px 0;
}
