.fileborder{
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.mb-2 {
    padding: 2% 9% 0 12%;
}

.tm_dcv {
    padding: 0 9% 0 12%;
}

.uploader_section {
    display: flex;
    margin-left: 2.5rem;
}

.refText, refText a {
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
}

.fileborder h1{
    text-align: left;
    margin: 0 0 0 6%;
    padding-top: 5%;
    font-weight: bold;
    color: #1a4ccc;
}

.upload-card{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40.5%;
    border-radius: 1rem;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 1rem;
    background-color:#FFFFFF;
}

.heading{
    font-size: 2rem;
    font-weight: 550;
    padding: 0 0 20px 7%;
}

.upld_img {
    display: flex;
    margin-top: 2%;
    margin-right: 23%;
    height: 55%;
    width: 50%;
}

.btn-default-p-0 {
    margin-top: 3%;
    margin-left: 15%;
}

.upload-card-header {
    text-align: center;
    margin: 3% 0 0 2%;
    padding-bottom: 2%;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(227, 48, 48);
}

.list-group-item {
    font-size: 1rem;
    text-align: left;
    margin-left: 7%;
}

.list-group-item li {
    margin: 2%;
    padding: 1% 3% 0 3%;
}

.my-3 {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.col-8 {
    border-style: dashed;
    border-color:rgba(0, 0, 0, 0.5);
    
    border-radius: 1rem;
    margin-left: 20%;
    padding: 0 0 3% 0;
}

.col-4 {
    margin-top: 5%; 
    margin-left: 33%;
}

.upload-btn{
    background: linear-gradient(to bottom right, #6681e4, #0468eb);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;
    outline: transparent;
    padding: 0.25rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.upload-btn:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(95, 118, 248, 0.5), .125rem .125rem 1rem rgba(61, 21, 239, 0.5);
}
  
.upload-btn:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(95, 118, 248, 0.5), .125rem .125rem 1rem rgba(61, 21, 239, 0.5);
}
